@{
    ViewBag.Title = "BlitzFeed";
}

<style>
    .jumbotron {
        background-color: transparent;
    }

    html, body {
        /*
            background-color: #FFAC56;
        */
        background-color: lightgrey;
    }

    #Title {
        font-weight: bold;
        color: #00375a;
    }

    #SubTitle {
        font-style: italic;
    }

    .col-centered {
        margin: 0 auto;
        float: none;
    }

    textarea {
        width: 400px;
        height: 80px;
    }

    input[type="text"] {
        width: 500px;
    }
</style>
<div class="container" style="text-align: center">
    <div class="jumbotron">
        <img vspace="0" class="jumbotronwidth" alt=" " src="~/Content/Images/BlitzFeed Logo Full Crop.png" width="400" />
    </div>

    <div class="row">
        <div class="center">
            <form action="demo_form.asp">
                <input type="text" name="fname">
            </form>
        </div>
    </div>

    <div class="row">
        <br /><button class="btn btn-default" type="button" style="width:280px">Find Me Some Opinions!</button>
    </div>
</div>