@{
    ViewBag.Title = "BlitzFeed";
}

<style>
    .jumbotron {
        background-color: white;
    }

    #Title {
        font-weight: bold;
        color: #00375a;
    }

    #SubTitle {
        font-style: italic;
    }
</style>

<div class="jumbotron">
    <img vspace="0" class="jumbotronwidth" alt=" " src="~/Content/Images/BlitzFeed Logo Full Crop.png" width="450">
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>

<p></p>
<form id="test-form" data-ajax="false"></form>