@{
    ViewBag.Title = "BlitzFeed";
}

<style>
    .jumbotron {
        background-color: white;
    }

    #Title {
        font-weight: bold;
        color: #00375a;
    }

    #SubTitle {
        font-style: italic;
    }
</style>

<div class="jumbotron">
    <div class="col-xs-6 col-md-2">
        <img vspace="20" class="jumbotronwidth" alt=" " src="~/Content/Images/BlitzFeed Logo Partial.png" height="200" width="200">
    </div>
    <div class="col-xs-6 col-md-10">
        <h1 id="Title">litzFeed</h1>
        <p class="lead" id="SubTitle">Opnions When They Matter</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>

<p></p>
<form id="test-form" data-ajax="false"></form>