@{
    ViewBag.Title = "Positive/Negative Feedback Scraper";
}

<style>
    .jumbotron {
        background-color:white;
    }
</style>

<div class="jumbotron">
    <h1 id="Title">Positive/Negative Feedback Scraper</h1>
    <p class="lead">Welcome to the positive negative feedback scraper. Type product and this will scrape the web for positive and negative feedback</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>

<form id="test-form" data-ajax="false">
   
</form>