@{
    ViewBag.Title = "BlitzFeed";
}

<style>
    .jumbotron {
        background-color: transparent;
    }

    html, body {    
        /*
            background-color: #FFAC56;
        */
        background-color: lightgrey;
    }

    #Title {
        font-weight: bold;
        color: #00375a;
    }

    #SubTitle {
        font-style: italic;
    }

    .col-lg-3 {
        width: 100%! important;
    }

    .input-group {
        width: 200px !important;
    }
</style>
<div class="container" style="text-align: center">
    <div class="jumbotron">
        <img vspace="0" class="jumbotronwidth" alt=" " src="~/Content/Images/BlitzFeed Logo Full Crop.png" width="800" style="max-width:100%" />
    </div>
    <div class="row">
        <div class="form-group">
            <div class=".col-lg-3">
                <input class="form-control input-lg" id="inputlg" type="text" width="800" style="max-width:100%" placeholder="Enter Text Here...">
            </div>
        </div>
    </div>

    <div class="row">
        <br /><button class="btn btn-default" type="button" style="width:500px; max-width:100%; height: 70px; font-size:20pt" >Find Me Some Opinions!</button>
    </div>
</div>